
.text-custom {
    /* Fuente Lato */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    color: #000000; /* Color personalizado, puedes ajustarlo */
    font-size: 36px; /* Tamaño del texto */
    font-weight: bold; /* Hacer el texto en negritas */
}

/* Fondo del pie de página */
footer {
    background-color: #f8f9fa;
    color: #333;
}

/* Estilo para los botones dentro del acordeón */
.card-header button {
    font-weight: bold;
}

/* Espaciado entre el acordeón */
.card {
    margin-bottom: 1rem;
}




